@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');

h1, h2, h3, h4, h5, h6, p, a, span, article, button {
  font-family: 'Open Sans', sans-serif;
}

.todos {
  padding: 2rem 1rem;
  max-width: 768px;
  margin: 0px auto;
}


button {
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  border: none;
  color: #fff;
  cursor: pointer !important;
  &:focus {
    outline: none;
  }
  &:hover {
    box-shadow: 2px 6px 6px rgba(0,0,0,.2);
  }
  &.primary {
    background: #708090;
  }
  &.secondary {
    background: #4d4d4d;
  }
  &.danger {
    background: #D9534F;
  }
}

.form-group {
  padding: 1rem;
  display: flex;
  * {
    margin: 0.4rem;
  }
  input[type="text"] {
    width: 100%;
    border-radius: 6px;
    border: 1.2px solid rgba(0,0,0,0.2);
    &:focus {
      outline: none;
    }
    padding-left: 0.4rem;
  }
  input[type="checkbox"] {
    align-self: center;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0%;
  opacity: 0;
  &.fade-out {
    animation-name: modalFadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  &.fade-in {
    animation-name: modalFadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  .modal-backdrop {
    background-color: rgba(0,0,0,0.4);
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.modal-content {
  background-color: #fff;
  padding: 4em 10em;
  z-index: 1;

  input[type="text"] {
    width: 300px;
    border-radius: 6px;
    border: 1.2px solid rgba(0, 0, 0, 0.2);
    padding: 0.4rem;
    margin-right: 5px;

    &:focus {
      outline: none;
    }
  }
}

.fab-container {
  position: fixed;
  bottom: 10%;
  right: 10%;
  button {
    border-radius: 100%;
    padding: 0.4rem 0.5rem;
  }
}

@keyframes modalFadeOut {
  100% {
    opacity: 0;
    height: 0px;
  }
}

@keyframes modalFadeIn {
  100% {
    opacity: 1;
    height: 100%;
  }
}

